:root {
    --background-color: #121212;
    --text-lighyt: #f7f7f7;
    --text-gray: #575757;
    --text-about-title: #484848;

    /* font-family */
    --font: 'DM Sans';
}

/* main class */
.hero-section-color {
    background-color: var(--background-color);
    margin-left: auto;
    margin-right: auto;
}


.main-page-hero-wrap {
    padding-top: 507px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;

    color: var(--text-lighyt);
}

@media screen and (min-width: 768px) {
    .main-page-hero-wrap {
        padding-top: 528px;
    }
}

@media screen and (min-width: 1440px) {
    .main-page-hero-wrap {
        padding-top: 152px;
    }
}

.hero-section {
    
    background-image: url(../img/images/hero/main-page-hero-mobile@1x.webp);
    background-repeat: no-repeat;
    background-position: 50% 118px;
    background-size: 335px;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
        background-image: url(../img/images/hero/main-page-hero-mobile@1x.webp);
    }
}

@media screen and (min-width: 768px) {
    .hero-section {
        background-image: url(../img/images/hero/main-page-hero-tablet@1x.webp);
        background-position: 50% 128px;
        background-size: 542px 710px;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: url(../img/images/hero/main-page-hero-tablet@2x.webp);
        }
    }
}

@media screen and (min-width: 1440px) {
    .hero-section {
    

        background-image: url(../img/images/hero/main-page-hero-desc@1x.webp);
        background-size: 542px 770px;
        background-position: 100% 0px;
        margin-bottom: 64px;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: url(../img/images/hero/main-page-hero-desc@2x.webp);
        }
    }
}

.hero-section-title {
    margin-bottom: 32px;

    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .hero-section-title {
        letter-spacing: 0em;
        font-size: 150px;
    }
}

@media screen and (min-width: 1440px) {
    .hero-section-title {
        margin-bottom: 196px;

        font-size: 180px;
        text-align: left;   
    }   
}

.hero-btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 66px;
    gap: 14px;
}

@media screen and (min-width: 768px) {
    .hero-btn-list {
        
        margin-bottom: 86px;
    }
}

@media screen and (min-width: 1440px) {
    .hero-btn-list {
      margin-right: 94px;
        /* transform: translate(0 0); */
    }
}

.main-page-btn {
    box-sizing: border-box;
    padding: 8px 18px;
    display: inline;
    width: 136px;
    height: 34px;

    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: left;

    color: var(--text-lighyt);
    background-color: transparent;

    border: 0.8px solid #f7f7f7;
    border-radius: 32px;
}

.main-page-btn:hover,
.main-page-btn:focus {
    background-color: var(--text-lighyt);
    color: var(--background-color);
}


.try{
   display: flex;
   flex-direction: column;
    
}
@media screen and (min-width: 768px) {
    .try {
    flex-direction: column;
    }
}

@media screen and (min-width: 1440px) {
    .try {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}


.hero-desc-list {
    display: flex;
    flex-direction: column;
    gap: 32px; 
}
@media screen and (min-width: 768px) {
    .hero-desc-list {
        flex-direction: row;
    }
}
/* @media screen and (min-width: 1440px) {
    .hero-desc-list {
   
    }
} */


.hero-desc-list-ithem {
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;

    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.hero-desc-1 {
    width: 338px;
}

.hero-desc-2 {
    width: 314px;
}

.italic {
    font-style: italic;
}



