/* Location decsription */

.location {
    background-color: #F7F7F7;
    padding-top: 64px;
    padding-bottom: 88px;
}
@media screen and (min-width: 768px) {
    .location {
        padding-top: 80px;
        padding-bottom: 144px;
    }
}
@media screen and (min-width: 1440px) {
    .location {
        padding-top: 100px;
    }
}

.location-block {

}
@media screen and (min-width: 768px) {
    .location-block {
       
    }
}
@media screen and (min-width: 1440px) {
    .location-block {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        gap: 32px;
    }
}


.table-box {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
@media screen and (min-width: 768px) {
    .table-box {
        flex-direction: row;
        justify-content: space-between;
    }
    }
@media screen and (min-width: 1440px) {
    .table-box {
        display: none;
    }
}
.table-box-hidden {
    display: none;
}
@media screen and (min-width: 1440px) {
    .table-box-hidden {
        display: flex;
        flex-direction: row;
        gap: 72px;
    }
}



.location-box {
  
}
@media screen and (min-width: 768px) {
    .location-box {

    }
}
@media screen and (min-width: 1440px) {
    .location-box {
        display: flex;
        flex-direction: column;
        gap: 399px;
    }
}




/* Location header decription */

.location-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 32px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
}

@media screen and (min-width: 768px) {
    .location-title {
        font-size: 68px;
        line-height: 1;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .location-title {
        margin-bottom: 0;

    }
}


/* adress & tel desc */
.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
@media screen and (max-width: 1439px) {
    .contacts-list {
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (min-width: 1440px) {
    .contact.list {
        
    }
}

.contacts-block {
}

@media screen and (min-width: 768px) {
    .contacts-block {
        
    }
}


@media screen and (min-width: 1440px) {
    .contacts-block {
        display: flex;
        flex-direction: row;
    }
}


.item-adress {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000000;
    width: 214px;
}


.contacts-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 12px;
}



@media screen and (min-width: 1440px) {
    .contacts-subtitle {
        font-weight: 700;
    }
}


.item-phone {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    column-gap: 4px;
    letter-spacing: -0.02em;
    color: #121212;
    /* margin-bottom: 88px; */
}



@media screen and (min-width: 768px) {
    .item-phone {
        font-size: 18px;
        line-height: 24px;
        /* margin-bottom: 114px; */
    }
}

@media screen and (min-width: 1440px) {
    .item-phone {
        margin-left: 12px;
    }
}


/* MAP styles */
.map {
    width: 335px;
    height: 384px;
    margin-bottom: 32px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

@media screen and (min-width: 768px) {
    .map {
        width: 704px;
        height: 576px;
    }
}

@media screen and (min-width: 1440px) {
    .map {
        margin-left: 32px;
        margin-bottom: 0;
        width: 640px;
        height: 524px;
    }
}

/* .leaflet-popup-content,
.leaflet-popup-tip,
.leaflet-popup-pane {
    display: none;
} */

.leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-content {
    width: 150px;
    text-align: center;
}