/* restaurant details section */

.restaurant-details {
    padding-bottom: 64px;
    margin-right: auto;
    margin-left: auto;
}

/* tablet */
@media screen and (min-width: 768px) {
    .restaurant-details {
        padding-bottom: 80px;
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    .restaurant-details {
        padding-bottom: 210px;
    }
}

.desk-descr {

   }
   @media screen and (min-width: 768px) {}

   @media screen and (min-width: 1440px) {
       .desk-descr {
            display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 125px;
       }

   }


.rest-descr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .rest-descr{
  flex-direction: row;
  justify-content: center;
}
}
@media screen and (min-width: 1440px) {
    .rest-descr {
        margin-bottom: 0;
    }

}

.title-restaurant {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0.02em;

    margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
    .title-restaurant {
        font-weight: 500;
        font-size: 58px;
        line-height: 1;
        letter-spacing: 0.02em;
        margin-bottom: 0;
    }
}

.rest-description {
    font-family: 'DM sans';
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    width: 221px;

    margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
    .rest-description {
        margin-bottom: 0;
    }
}


.img-list {

    overflow: hidden;
}

@media screen and (min-width: 1440px) {
    .img-list {

    }
}

:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}

.gallery__item {


    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
    transform: scale(1.03);
}

.gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.gallery__link:hover {

}

.arr-right{
  fill: none;
  stroke: rgba(18, 18, 18, 0.3);
  padding: 5px;
  transform: rotate(180deg);
}

.arr-left{
  fill: none;
  padding: 5px;
  stroke: rgba(18, 18, 18, 0.3);
}

.arr-right:hover,
.arr-left:hover{
  stroke: rgba(18, 18, 18);
}


.rest-arrs-list{
  display: flex;
  gap: 36px;
  justify-content: flex-start;
  margin-top: 50px;
}

@media screen and (min-width: 1440px) {
  .rest-arrs-list {
    justify-content: center;
  }
}

.img-height{
  width: 100%;
  height: 440px;
}

@media screen and (min-width: 768px) {
  .img-height {
      width: 266px;
      height: 309px;
    }
}


.dsk-hidden{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
}

@media screen and (min-width: 1440px) {
  .dsk-hidden {
    display: none;
  }
}

.restaurant-btn{
  display: none;
    justify-content: center;
    gap: 15px;
}

@media screen and (min-width: 1440px) {
  .restaurant-btn {
    display: flex;
  }
}