/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./general-classes.css');

@import url('./main.css/about-complex.css');
@import url('./main.css/hero.css');
@import url('./main.css/hotel-details.css');
@import url('./main.css/location-contacts.css');
@import url('./main.css/restaurant-details.css');
@import url('./main.css/welcome-complex.css');

@import url('./hotel.css/double-luxury-room.css');
@import url('./hotel.css/four-seater-room.css');
@import url('./hotel.css/hero.css');
@import url('./hotel.css/triple-room.css');

@import url('./restaurant.css/about-kitchen.css');
@import url('./restaurant.css/hero.css');
@import url('./restaurant.css/restaurant-menu.css');

@import url('./room.css/amenities.css');
@import url('./room.css/hero.css');

@import url('./modals/modal-book-room.css');
@import url('./modals/modal-book-table.css');
@import url('./modals/modal-prices-room.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
