.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transform: scale(1);
  transition: opacity var(--duration) var(--timing-function),
        visibility var(--duration) var(--timing-function),
        transform var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: flex;
  flex-direction: column;
  width: 335px;
  justify-content: center;

  background-color: #121212;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 40px;
  align-items: center;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 628px;
    }
}


.title-of-modal {
  display: block;
  font-weight: 500;
  font-size: 28px;
  line-height: calc(38 / 28px);
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 40px;
}

.title-of-modal-italic{
  font-style: italic;
}

.span-hidden {
  opacity: 0;
}

.modal-label {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-label-name{
  position: absolute;
  top: 9px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-label-name {
  transform: translateY(-22px);
}

.modal-label-phone{
  position: absolute;
  top: 9px;
}

.modal-under-input {
  text-transform: uppercase;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 8px;
  line-height: calc(12 / 8);
  letter-spacing: 0.18em;
  color: #d8d7d7;
}


.modal-input {
  width: 266px;
  height: 36px;
  background-color: transparent;
  border: none;
  border-bottom: 0.8px solid rgba(247, 247, 247, 0.2);
  margin-bottom: 8px;

  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: #f7f7f7;

}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: transparent;
    padding: 5px;
    cursor: pointer;
    opacity: 0;

}

.modal-input:focus-visible {
  outline: none;
}

.modal-input-phone{
  padding-left: 37px;
}

.modal-btn {
  padding: 14px 48px;
  width: 235px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  margin: auto;
}

@media screen and (min-width: 768px) {
    .modal-btn {
      padding: 14px 130px;
      width: 399px;
    }
}

@media screen and (min-width: 1440px) {
  .modal-btn {
    font-size: 18px;
    line-height: calc(24 / 18);
    padding: 14px 133px;
    width: 444px;
  }
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  stroke: #f7f7f7;

  background-color: transparent;
  border: none;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon:hover{
  transform:  scale(1.1);
}

.labels-grid{
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  align-items: end;
}

.arrow-down{
  stroke: #f7f7f7;
  position: absolute;
  right: 3px;
  top: 12px;
  z-index: -1;

}